.carousel-container {
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: center;
  width: 80%;
  align-self: center;
  position: relative;
}

.fade {
  position: absolute;
  width: 160px;
  height: 100%;
  top: 0;
}

.fade-left {
  left: 0;
  z-index: 2000;
  background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
}

.fade-right {
  right: 0;
  z-index: 2000;
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
}

.carousel-item {
  background-color: #f1f1f1;
  height: 18rem;
  min-height: 100%;
  width: 12rem;
  padding: 0.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
}

.card {
  width: 12rem;
  border-radius: 0.5rem;
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 0;
  align-items: center;
  max-height: 100%;
  height: 100%;
  justify-content: center;
  vertical-align: top;
  cursor: pointer;
  background-color: gray;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
}

.card-img {
  display: block;
  max-height: 60%;
  height: 60%;
  border-radius: 0.5rem;
  min-width: 100%;
  width: 100%;
  object-fit: cover;
}

.outfit-toggle {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 12px;
  -webkit-filter: invert(42%) sepia(51%) saturate(3248%) hue-rotate(174deg) brightness(97%) contrast(94%);
  filter: invert(42%) sepia(51%) saturate(3248%) hue-rotate(174deg) brightness(97%) contrast(94%);
  background-blend-mode: darken;
}

p, h4, h5, h6 {
  font-family: 'Courier New', Courier, monospace;
  padding: 0px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}
