#productOverview {
	font-family: 'Courier New', Courier, monospace;
}

#title {
	/* margin: auto; */
	color: white;
	text-align: center;
  background-color: grey;
	padding-bottom: 10px;
	padding-top: 45px;
	margin-top: -30px;
	margin-left: 130px;
	margin-right: 130px;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 100px;
}

#extendo {
	align-items:flex-start;
	transition: all .3s ease-in-out;
}

.image {
	flex: 1;
	position: relative;
}


.product {
	flex: 2;
	padding-right: 10%;
	padding-left: 5%;
}

.style {
margin: 10px;
height: 85px;
width: 85px;
border-radius: 50px;
}

.carousel {
	height:550px;
	margin: 30px;
	width: 700px;
}


.image-slide {
	height: 100%;
	width: 100%;
	transition: all .3s ease-in-out;
}

.image-slide-expand {
	height: 100%;
	width: 200%;
	transition: background-image .3s ease-in-out;
}

.thumbContainer {
	/* vertical-align: bottom; */
	/* overflow:visible; */
	padding-top: 40px;
	padding-left: 30px;
}

.thumbnail {
	height: 70px;
	width: 70px;
	padding: 3px;
	/* vertical-align: bottom; */
}

.slide-arrow {
	color: rgb(113, 113, 113);
	cursor: pointer;
	font-size: 2rem;
	position: absolute;
	top: 39%;
}

.slide-arrow.right {
	/* left: 43.5%; */
	left: 806px;
}

.slide-arrow.left {
	left: auto;
}

.expand {
	top: 14%;
	position: absolute;
	left: 795px;
	font-size: 2rem;
}

.outfitDiv{
	display: inline;
	background-color: grey;
	border-color: grey;
	/* margin-right:2px; */
	margin: 4px;
  border: 4px solid transparent;

}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rating {
  display: inline-block;
}

.rating div {
  display: inline;
  margin: 2px;
}

.size, .quantity, .outfitDiv, button{
	color: white;
  /* padding: 8px 16px; */
	/* margin: 4px;
  border: 4px solid transparent; */
	background-color: grey;
  cursor: pointer;
	font-family: 'Courier New', Courier, monospace;
	/* font-weight: 600; */
}

.size, .quantity, button{
	font-size: large;
	margin: 4px;
  border: 4px solid transparent;
}


.size:hover, .quantity:hover, .outfitDiv:hover, button:hover{
	background-color: rgb(8, 149, 220);
}



.star {
  -webkit-filter: invert(42%) sepia(14%) saturate(5361%) hue-rotate(161deg) brightness(107%) contrast(101%);
  filter: invert(42%) sepia(14%) saturate(5361%) hue-rotate(161deg) brightness(107%) contrast(101%);
	display: inline;
	float: left;
}

.review {
	display: inline;
	text-decoration: underline;
}

.announce {
	text-align: center;
	margin-bottom: -12px;
}