#container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.image {
	flex: 1;
}

.style {
margin: 10px;
height: 85px;
width: 85px;
border-radius: 40px;
}

.carousel {
	height:550px;
	margin: 30px;
	width: 700px;
}


.image-slide {
	height: 100%;
	width: 100%;
	transition: background-image .3s ease-in-out;
}

.slide-arrow {
	color: aqua;
	cursor: pointer;
	font-size: 2rem;
	position: absolute;
	top: 35%;
}

.slide-arrow.right {
	left: 43.5%;
}

.slide-arrow.left {
	left: auto;
}
