* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rating {
  display: inline-block;
}

.rating div {
  display: inline;
  margin: 2px;
}

.star {
  -webkit-filter: invert(42%) sepia(51%) saturate(3248%) hue-rotate(174deg) brightness(97%) contrast(94%);
  filter: invert(42%) sepia(51%) saturate(3248%) hue-rotate(174deg) brightness(97%) contrast(94%);
}